{% comment %}
<div class="sidebar ">
  <h2>Recent Posts</h2>
  <ul>
    {% for ppost in paginator.pages limit:5 %}
    <li><a href="{{ site.base_url}}{{ ppost.permalink }}">{{ ppost.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>Tags</h2>
  <ul>
    {% for ptag in paginator.indexes %}
      <li><a href="/{{ ptag.index_permalink }}/">{{ ptag.index_title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endcomment %}
