<!DOCTYPE html>
<html lang="en">
{% include header.liquid %}
<body>
{% include body-nav.liquid %}
<div class="container container-center">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h1><a href="{{ site.base_url | append:page.permalink }}">{{ page.title }}</a></h1>
          <div class="post-meta">
            <div class="post-time">
              <span class="icon calendar1-ico"></span>
              <time>{{ page.published_date | date: "%Y-%m-%d" }}</time>
            </div>
            <ul>
              <li class="d-inline"><span class="icon price-tags-ico"></span></li>
              {% for tag in page.tags %}
                <li class="d-inline"><a href="{{ site.base_url }}/blog/tags/{{ tag }}">{{ tag }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="post-content">
            <div id="toc" class="toc"></div>
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 hidden-xs">
      {% include sidebar.liquid %}
    </div>
  </div>
</div>
{% include footer.liquid %}
</body>
</html>
